---
import "@/styles/globals.css";
import Nav from "@/components/nav.astro";
import AddPost from '@/components/addPost.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen relative overflow-hidden">
    <Nav />
    <main class="flex-1 flex justify-center relative">
      <div class="w-full max-w-[640px]">
        <slot />
      </div>
    </main>
    <!-- <AddPost class="fixed bottom-5 right-5 z-10" /> -->
  </body>
</html>

<style>
  body {
    background-color: hsl(0, 0%, 4%);
  }
</style>
