---
import Add from "@/assets/edit.svg";
---

<div
  class="absolute bottom-3 right-12 border-[#f3f5f726] border bg-[#181818] h-12 w-12 rounded-2xl flex items-center justify-center"
>
  <img src={Add.src} alt="new post icon" class="h-6 w-6" />
</div>
